
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
*{
  font-family: 'Quicksand', sans-serif;
}
.navbar-dark .nav-item .nav-link {
    color: #fff;
  }
  
  .navbar-dark .nav-item .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
    border-radius: 0.25rem;
    color: #fff;
  }
  
  .fa-li {
    position: relative;
    left: 0;
  }
  .navbar{
    background-color: blue;
    font-size: 12px;
  }
  
  
  input{
    border-radius: 50px;
  }
  .nav-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .index{
    /* background-image: url("/static/images/desserts.png"); */
    /* background-image:  url('../images/rice_chicken.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    width: 100%;
    height: 300px;
  }
 .products{
  margin: 17rem auto;
 }
 .card img{
  width: 200px;
  height: 150px;
  margin: auto 0 auto;
 }
 .sign-up{
  margin-top: 5rem;
 }
 footer{
  /* margin-top: 50rem; */
  background-color: blue;
 }
 .section-three{
  margin-top: 1rem;
 }
.section-three .title{
  text-align: center;
}
 .blog-box{
  border: 1px solid grey;
  box-shadow: 2px 2px solid grey;
  padding: 20px;
  border-radius: 5px;
}
.blog-box .box{
  margin: 20px 0;
}
.blog-box .box a{
  text-decoration: none; 
  color: rgb(6, 6, 29);
  border: 1px solid blue;
  
}
.blog-box .box a:hover{
  background-color: rgb(6, 6, 29);
  color: white;
  padding: 10px;
  border: none;
} 
