{% extends 'base.html' %}
{% block content%}

{% if monday %}
    <h1>Today is: Monday </h1>
    <p>{{time}}</p>
{% elif tuesday %}
    <h1>Today is: Tuesday </h1>
    <p>{{time}}</p>
{% elif wednesday %}
    <h1>Today is: Wednesday </h1>
    <p>{{time}}</p>
{% elif thursday %}
    <h1>Today is: Thursday </h1>
    <p>{{time}}</p>
{% elif friday %}
    <h1>Today is: Friday </h1>
    <p>{{time}}</p>
{% elif saturday %}
    <h1>Today is: Saturday </h1>
    <p>{{time}}</p>
{% elif sunday %}
    <h1>Today is: Sunday </h1>
    <p>{{time}}</p>

{% endif %}
{% endblock %}