{% extends 'base.html' %}
{% block content %}

{% load static%}
<div class="container-fluid">
    <!-- hero section  starts -->
    <div>

        <!-- Carousel wrapper -->
<div id="carousel" class="carousel slide carousel-fade" data-mdb-ride="carousel">
    <!-- Indicators -->
    <div class="carousel-indicators">
      <button
        type="button"
        data-mdb-target="#carouselBasicExample"
        data-mdb-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-mdb-target="#carouselBasicExample"
        data-mdb-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-mdb-target="#carouselBasicExample"
        data-mdb-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
  
    <!-- Inner -->
    <div class="carousel-inner">
      <!-- Single item -->
      <div class="carousel-item active">
        <img src="{% static 'images/burger_chips.png' %}" class="d-block w-100" alt="burger_chips" height="300px" />
        <div class="carousel-caption d-none d-md-block">
          <h5>burger_chips</h5>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </div>
  
      <!-- Single item -->
      <div class="carousel-item">
        <img src="{% static 'images/fufu_vegetable.png' %}" class="d-block w-100" alt="fufu_vegetable" height="300px" />
        <div class="carousel-caption d-none d-md-block">
          <h5>fufu_vegetable</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
  
      <!-- Single item -->
      <div class="carousel-item">
        <img src="{% static 'images/rice_chicken.png' %}" class="d-block w-100" alt="rice_chicken" height="300px" />
        <div class="carousel-caption d-none d-md-block">
          <h5>rice_chicken</h5>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </div>
    </div>
    <!-- Inner -->
  
    <!-- Controls -->
    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- Carousel wrapper -->
    </div>
    <!-- hero section  ends -->
    <!-- Product section  starts -->
    <section style="background-color: #eee;" class="py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
              <div class="card">
                <div class="d-flex justify-content-between p-3">
                  <p class="lead mb-0">Today's Combo Offer</p>
                  <div
                    class="bg-info rounded-circle d-flex align-items-center justify-content-center shadow-1-strong"
                    style="width: 35px; height: 35px;">
                    <p class="text-white mb-0 small">x4</p>
                  </div>
                </div>
                <img src="{% static 'images/cake.png' %}" class="card-img-top" alt="cake"/>
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <p class="small"><a href="#!" class="text-muted">Cake</a></p>
                    <p class="small text-danger"><s>$1099</s></p>
                  </div>
      
                  <div class="d-flex justify-content-between mb-3">
                    <h5 class="mb-0">Dessert</h5>
                    <h5 class="text-dark mb-0">$999</h5>
                  </div>
      
                  <div class="d-flex justify-content-between mb-2">
                    <p class="text-muted mb-0">Available: <span class="fw-bold">6</span></p>
                    <div class="ms-auto text-warning">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
                  <div class="addTocart">
                    <button class="btn btn-primary btn-sm" type="button">Details</button>
                    <button class="btn btn-outline-primary btn-sm mt-2" type="button">
                    Add to cart
                  </button>     
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-md-0">
              <div class="card">
                <div class="d-flex justify-content-between p-3">
                  <p class="lead mb-0">Today's Combo Offer</p>
                  <div
                    class="bg-info rounded-circle d-flex align-items-center justify-content-center shadow-1-strong"
                    style="width: 35px; height: 35px;">
                    <p class="text-white mb-0 small">x2</p>
                  </div>
                </div>
                <img src="{% static 'images/fufu_vegetable.png' %}"
                  class="card-img-top" alt="fufu_vegetable" />
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <p class="small"><a href="#!" class="text-muted">fufu_vegetable</a></p>
                    <p class="small text-danger"><s>$1199</s></p>
                  </div>
      
                  <div class="d-flex justify-content-between mb-3">
                    <h5 class="mb-0">Soups</h5>
                    <h5 class="text-dark mb-0">$1099</h5>
                  </div>
      
                  <div class="d-flex justify-content-between mb-2">
                    <p class="text-muted mb-0">Available: <span class="fw-bold">7</span></p>
                    <div class="ms-auto text-warning">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="far fa-star"></i>
                    </div>
                  </div>
                  <div class="addTocart">
                    <button class="btn btn-primary btn-sm" type="button">Details</button>
                    <button class="btn btn-outline-primary btn-sm mt-2" type="button">
                    Add to cart
                  </button>     
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-md-0">
              <div class="card">
                <div class="d-flex justify-content-between p-3">
                  <p class="lead mb-0">Today's Combo Offer</p>
                  <div
                    class="bg-info rounded-circle d-flex align-items-center justify-content-center shadow-1-strong"
                    style="width: 35px; height: 35px;">
                    <p class="text-white mb-0 small">x3</p>
                  </div>
                </div>
                <img src="{% static 'images/burger_chips.png' %}"
                  class="card-img-top" alt="Gaming Laptop" />
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <p class="small"><a href="#!" class="text-muted">burger_chips</a></p>
                    <p class="small text-danger"><s>$1399</s></p>
                  </div>
      
                  <div class="d-flex justify-content-between mb-3">
                    <h5 class="mb-0">burger_chips</h5>
                    <h5 class="text-dark mb-0">$1299</h5>
                  </div>
      
                  <div class="d-flex justify-content-between mb-2">
                    <p class="text-muted mb-0">Available: <span class="fw-bold">5</span></p>
                    <div class="ms-auto text-warning">
                      <i class="fa fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star-half-alt"></i>
                    </div>
                  </div>
                  <div class="addTocart">
                    <button class="btn btn-primary btn-sm" type="button">Details</button>
                    <button class="btn btn-outline-primary btn-sm mt-2" type="button">
                    Add to cart
                  </button>     
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container pt-2">
          <div class="row">
            <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
              <div class="card">
                <div class="d-flex justify-content-between p-3">
                  <p class="lead mb-0">Today's Combo Offer</p>
                  <div
                    class="bg-info rounded-circle d-flex align-items-center justify-content-center shadow-1-strong"
                    style="width: 35px; height: 35px;">
                    <p class="text-white mb-0 small">x4</p>
                  </div>
                </div>
                <img src="{% static 'images/cake.png' %}" class="card-img-top" alt="cake"/>
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <p class="small"><a href="#!" class="text-muted">desserts</a></p>
                    <p class="small text-danger"><s>$1099</s></p>
                  </div>
      
                  <div class="d-flex justify-content-between mb-3">
                    <h5 class="mb-0">Cake</h5>
                    <h5 class="text-dark mb-0">$999</h5>
                  </div>
      
                  <div class="d-flex justify-content-between mb-2">
                    <p class="text-muted mb-0">Available: <span class="fw-bold">6</span></p>
                    <div class="ms-auto text-warning">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
                  <div class="addTocart">
                    <button class="btn btn-primary btn-sm" type="button">Details</button>
                    <button class="btn btn-outline-primary btn-sm mt-2" type="button">
                    Add to cart
                  </button>     
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-md-0">
              <div class="card">
                <div class="d-flex justify-content-between p-3">
                  <p class="lead mb-0">Today's Combo Offer</p>
                  <div
                    class="bg-info rounded-circle d-flex align-items-center justify-content-center shadow-1-strong"
                    style="width: 35px; height: 35px;">
                    <p class="text-white mb-0 small">x2</p>
                  </div>
                </div>
                <img src="{% static 'images/fufu_vegetable.png' %}"
                  class="card-img-top" alt="Laptop" />
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <p class="small"><a href="#!" class="text-muted">African dish, lunch</a></p>
                    <p class="small text-danger"><s>$1199</s></p>
                  </div>
      
                  <div class="d-flex justify-content-between mb-3">
                    <h5 class="mb-0">Fufu and Vegetable</h5>
                    <h5 class="text-dark mb-0">$1099</h5>
                  </div>
      
                  <div class="d-flex justify-content-between mb-2">
                    <p class="text-muted mb-0">Available: <span class="fw-bold">7</span></p>
                    <div class="ms-auto text-warning">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="far fa-star"></i>
                    </div>
                  </div>
                  <div class="addTocart">
                    <button class="btn btn-primary btn-sm" type="button">Details</button>
                    <button class="btn btn-outline-primary btn-sm mt-2" type="button">
                    Add to cart
                  </button>     
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-md-0">
              <div class="card">
                <div class="d-flex justify-content-between p-3">
                  <p class="lead mb-0">Today's Combo Offer</p>
                  <div
                    class="bg-info rounded-circle d-flex align-items-center justify-content-center shadow-1-strong"
                    style="width: 35px; height: 35px;">
                    <p class="text-white mb-0 small">x3</p>
                  </div>
                </div>
                <img src="{% static 'images/burger_chips.png' %}"
                  class="card-img-top" alt="Gaming Laptop" />
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <p class="small"><a href="#!" class="text-muted">snacks, desserts</a></p>
                    <p class="small text-danger"><s>$1399</s></p>
                  </div>
      
                  <div class="d-flex justify-content-between mb-3">
                    <h5 class="mb-0">burger_chips</h5>
                    <h5 class="text-dark mb-0">$1299</h5>
                  </div>
      
                  <div class="d-flex justify-content-between mb-2">
                    <p class="text-muted mb-0">Available: <span class="fw-bold">5</span></p>
                    <div class="ms-auto text-warning">
                      <i class="fa fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star-half-alt"></i>
                    </div>
                  </div>
                  <div class="addTocart">
                    <button class="btn btn-primary btn-sm" type="button">Details</button>
                    <button class="btn btn-outline-primary btn-sm mt-2" type="button">
                    Add to cart
                  </button>     
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
<!-- Product section  ends -->

<!-- Blog section  starts -->
      <section>
        <div class="container-fluid">
          <div class="container">
              
              <div class="section-three">
                  <div  class="title">
                      <h1><a href="blog.html">Blog News</a></h1>
                      <p>Informationstories and recent activities</p>
                  </div>
                  <div class="row blog-box">
                      <div class="col-md-4 box">
                          <p class="h4">Todays News</p>
                          <p>
                              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore, ut culpa non inventore ducimus cumque illum?
                              Quasi saepe optio harum veniam illo laboriosam quae laudantium, deleniti libero sint obcaecati enim.
                          </p>
                          <a href="" class="btn btn-outliine">Learn More...</a>
                      </div>
                      <div class="col-md-4 box">
                          <p class="h4">Todays News</p>
                          <p>
                              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore, ut culpa non inventore ducimus cumque illum?
                              Quasi saepe optio harum veniam illo laboriosam quae laudantium, deleniti libero sint obcaecati enim.
                          </p>
                          <a href="" class="btn btn-outliine">Learn More...</a>
                      </div>
                      <div class="col-md-4 box">
                          <p class="h4">Todays News</p>
                          <p>
                              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore, ut culpa non inventore ducimus cumque illum?
                              Quasi saepe optio harum veniam illo laboriosam quae laudantium, deleniti libero sint obcaecati enim.
                          </p>
                          <a href="" class="btn btn-outliine">Learn More...</a>
                      </div>
                      <div class="col-md-4 box">
                          <p class="h4">Todays News</p>
                          <p>
                              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore, ut culpa non inventore ducimus cumque illum?
                              Quasi saepe optio harum veniam illo laboriosam quae laudantium, deleniti libero sint obcaecati enim.
                          </p>
                          <a href="" class="btn btn-outliine">Learn More...</a>
                      </div>
                      <div class="col-md-4 box">
                          <p class="h4">Todays News</p>
                          <p>
                              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore, ut culpa non inventore ducimus cumque illum?
                              Quasi saepe optio harum veniam illo laboriosam quae laudantium, deleniti libero sint obcaecati enim.
                          </p>
                          <a href="" class="btn btn-outliine">Learn More...</a>
                      </div>
                      <div class="col-md-4 box">
                          <p class="h4">Todays News</p>
                          <p>
                              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore, ut culpa non inventore ducimus cumque illum?
                              Quasi saepe optio harum veniam illo laboriosam quae laudantium, deleniti libero sint obcaecati enim.
                          </p>
                          <a href="" class="btn btn-outliine">Learn More...</a>
                      </div>
                      
                      
  
                  </div>
              </div>
          </div>
      </div>
      </section>

<!-- Blog section  ends -->

<!-- Testimonials section  starts -->
      <section style="color: #000; background-color: #f3f2f2;">
        <div class="container py-5">
          <div class="row d-flex justify-content-center">
            <div class="col-md-10 col-xl-8 text-center">
              <h3 class="fw-bold mb-4">Testimonials</h3>
              <p class="mb-4 pb-2 mb-md-5 pb-md-0">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet
                numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum
                quisquam eum porro a pariatur veniam.
              </p>
            </div>
          </div>
      
          <div class="row text-center">
            <div class="col-md-4 mb-4 mb-md-0">
              <div class="card">
                <div class="card-body py-4 mt-2">
                  <div class="d-flex justify-content-center mb-4">
                    <img src="{% static 'images/photo1.jpeg' %}"
                      class="rounded-circle shadow-1-strong" width="100%" height="300px" />
                  </div>
                  <h5 class="font-weight-bold">Dozie Emeka</h5>
                  <h6 class="font-weight-bold my-3">Abuja, FCT</h6>
                  <ul class="list-unstyled d-flex justify-content-center">
                    <li>
                      <i class="fas fa-star fa-sm text-info"></i>
                    </li>
                    <li>
                      <i class="fas fa-star fa-sm text-info"></i>
                    </li>
                    <li>
                      <i class="fas fa-star fa-sm text-info"></i>
                    </li>
                    <li>
                      <i class="fas fa-star fa-sm text-info"></i>
                    </li>
                    <li>
                      <i class="fas fa-star-half-alt fa-sm text-info"></i>
                    </li>
                  </ul>
                  <p class="mb-2">
                    <i class="fas fa-quote-left pe-2"></i>Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat
                    ad velit ab hic tenetur.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-4 mb-md-0">
              <div class="card">
                <div class="card-body py-4 mt-2">
                  <div class="d-flex justify-content-center mb-4">
                    <img src="{% static 'images/photo2.jpeg' %}"
                      class="rounded-circle shadow-1-strong" width="100" height="100" />
                  </div>
                  <h5 class="font-weight-bold">Abdul Musa</h5>
                  <h6 class="font-weight-bold my-3">Zaria, Kaduna</h6>
                  <ul class="list-unstyled d-flex justify-content-center">
                    <li>
                      <i class="fas fa-star fa-sm text-info"></i>
                    </li>
                    <li>
                      <i class="fas fa-star fa-sm text-info"></i>
                    </li>
                    <li>
                      <i class="fas fa-star fa-sm text-info"></i>
                    </li>
                    <li>
                      <i class="fas fa-star fa-sm text-info"></i>
                    </li>
                    <li>
                      <i class="fas fa-star fa-sm text-info"></i>
                    </li>
                  </ul>
                  <p class="mb-2">
                    <i class="fas fa-quote-left pe-2"></i>Autem, totam debitis suscipit saepe
                    sapiente magnam officiis quaerat necessitatibus odio assumenda perferendis
                    labore laboriosam.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-0">
              <div class="card">
                <div class="card-body py-4 mt-2">
                  <div class="d-flex justify-content-center mb-4">
                    <img src="{% static 'images/photo5.jpeg' %}"
                      class="rounded-circle shadow-1-strong" width="100" height="100" />
                  </div>
                  <h5 class="font-weight-bold">Ola Kehinde</h5>
                  <h6 class="font-weight-bold my-3">Zuba, Niger</h6>
                  <ul class="list-unstyled d-flex justify-content-center">
                    <li>
                      <i class="fas fa-star fa-sm text-info"></i>
                    </li>
                    <li>
                      <i class="fas fa-star fa-sm text-info"></i>
                    </li>
                    <li>
                      <i class="fas fa-star fa-sm text-info"></i>
                    </li>
                    <li>
                      <i class="fas fa-star fa-sm text-info"></i>
                    </li>
                    <li>
                      <i class="far fa-star fa-sm text-info"></i>
                    </li>
                  </ul>
                  <p class="mb-2">
                    <i class="fas fa-quote-left pe-2"></i>Cras sit amet nibh libero, in gravida
                    nulla metus scelerisque ante sollicitudin commodo cras purus odio,
                    vestibulum in tempus viverra turpis.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
<!-- Testimonials section  ends -->
     
</div>







{% endblock %}