<nav style="display: flex; justify-content: space-between; padding: 10px 50px;">
    <div>
        <a href=''>Logo</a>
    </div>
    <div>
        <ul style="display: flex;">
            <a href='#'><li style='list-style: none; margin-right: 10px;'>Home</li></a>
            <a href='#'><li style='list-style: none; margin-right: 10px;'>Contact</li></a>
            <a href='#'><li style='list-style: none; margin-right: 10px;'>Contact</li></a>
            <a href='#'><li style='list-style: none; margin-right: 10px;'>Product</li></a>
        </u>
    </div>
</nav>