<html>
<head>
    <title></title>
    <style>
        nav{
            display: flex;
            justify-content: space-between;
            align-items: center; 
            padding: 10px 50px; 
            background: teal;
        }
        nav a{
            color: white;
            text-decoration: none;
        }
        nav ul{
            display: flex;
        }
        nav li{
            list-style: none;
            margin-right: 10px;
        }
    </style>
</head>
<body>

<nav>
    <div>
        <a href='#'>Logo</a>
    </div>
    <div>
        <ul>
            <a href='#'><li>Blog</li></a>
            <a href='#'><li>Contact</li></a>
            <a href='#'><li>News</li></a>
            <a href='#'><li>Product</li></a>
            <a href='#'><li>Categories</li></a>
        </u>
    </div>
</nav>

</body>
</html>